<form class="example-form conteudo">
    <div class="div-center-cl">     
        <mat-form-field class="teste">
            <mat-label>Insira seu nome</mat-label>
            <input matInput #message maxlength="100" placeholder="Ex. Linus Torvalds">
            <mat-hint align="start"></mat-hint>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Insira seu número (WhatsApp)</mat-label>
            <input matInput #message maxlength="100" placeholder="(11) 91111-1111">
            <mat-hint align="start"><strong>Não vamos travar seu zap</strong> </mat-hint>
        </mat-form-field>
          <button mat-stroked-button>Basic</button>
        </div>
</form>